* {
  padding: 5px;
  margin: 5px;
  background: #0b0b0c;
  color:  #f5f5f7;
  font-family: Roboto, Helvetica, Arial, sans-serif;
  font-optical-sizing: auto;
  font-weight: 100;
  line-height: 1.5;
}

nav a {
  text-decoration: none;
  color: #f5f5f7;
  font-weight: 400;
  padding: 8px 10px;
  border: 1px solid transparent;
  border-radius: 12px;
}

nav a:hover {
  border-color: #4d5c3b;
  }

a#navselected {
  color:#ff0000;    
}

footer {
  border-top: 1px solid rgba(245,245,247,.12);
  padding: 18px 0px;
  text-align: left;
  color: rgba(245,245,247,.72);
}

.footer-small-font {
  color: rgba(0, 181, 27, 0.72);
  font-size: 0.8em;
}

th {
  padding-top: 12px;
  padding-bottom: 12px;
  width: fit-content;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}

form * {
  margin: auto;
  text-align: center;
}
